<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT productList ANY>
<!ATTLIST productList id ID #REQUIRED>
<!ELEMENT product ANY>
<!ATTLIST product id ID #REQUIRED>
<!ELEMENT callToAction ANY>
<!ATTLIST callToAction id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1054" key="7c6220b7-9fee-46eb-84bb-0fb0f605f14a" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2019-07-03T21:04:52" updateDate="2019-07-04T16:53:08" nodeName="PR Code Test" urlName="pr-code-test" path="-1,1054" isDoc="" nodeType="1053" creatorName="Peter Rosendahl" writerName="Peter Rosendahl" writerID="0" template="1052" nodeTypeAlias="homePage" isPublished="true">
    <headline><![CDATA[This is just a Headline]]></headline>
    <description><![CDATA[A good logo works in the simplest form. It is a memorable representation of your brand and inspires confidence in your customers. It should be fresh and original - without visual cliches or amateur effects. A logo is well-designed when it looks as good on a business card as it does on a web page or a billboard.]]></description>
    <productList id="1060" key="902f82a6-1216-41f0-8e99-4926986b7342" parentID="1054" level="2" creatorID="0" sortOrder="0" createDate="2019-07-03T21:25:56" updateDate="2019-07-03T22:04:11" nodeName="Products" urlName="products" path="-1,1054,1060" isDoc="" nodeType="1055" creatorName="Peter Rosendahl" writerName="Peter Rosendahl" writerID="0" template="0" nodeTypeAlias="productList" isPublished="true">
      <productListHeadline><![CDATA[We offer]]></productListHeadline>
      <productListDescription><![CDATA[The following packages]]></productListDescription>
      <product id="1061" key="570e5bcb-dc29-4adf-a722-166826d968f0" parentID="1060" level="3" creatorID="0" sortOrder="0" createDate="2019-07-03T21:26:58" updateDate="2019-07-07T20:38:14" nodeName="Small" urlName="small" path="-1,1054,1060,1061" isDoc="" nodeType="1057" creatorName="Peter Rosendahl" writerName="Peter Rosendahl" writerID="0" template="0" nodeTypeAlias="product" isPublished="true">
        <productDescription><![CDATA[<ul>
<li>Dashboard</li>
<li>Push</li>
<li>Ubegrænset antal brugere</li>
<li>Understøtter 1 sprog</li>
<li>Op til 3 content typer</li>
<li>1 GB data storage</li>
<li>1 GB data transfer</li>
<li>Email support</li>
</ul>]]></productDescription>
        <productHeadline><![CDATA[Small]]></productHeadline>
        <productPricePerMonth><![CDATA[1.000 DKK]]></productPricePerMonth>
        <productStyleClassName><![CDATA[Small]]></productStyleClassName>
      </product>
      <product id="1062" key="ec71d43b-b242-4dfa-acaf-a43cf3d99fcf" parentID="1060" level="3" creatorID="0" sortOrder="1" createDate="2019-07-03T21:27:12" updateDate="2019-07-07T22:17:40" nodeName="Medium" urlName="medium" path="-1,1054,1060,1062" isDoc="" nodeType="1057" creatorName="Peter Rosendahl" writerName="Peter Rosendahl" writerID="0" template="0" nodeTypeAlias="product" isPublished="true">
        <productDescription><![CDATA[<ul>
<li>Dashboard</li>
<li>Push</li>
<li>Ubegrænset antal brugere</li>
<li>Understøtter 1 sprog</li>
<li>Op til 3 content typer</li>
<li>1 GB data storage</li>
<li>1 GB data transfer</li>
<li>Email support</li>
<li>Mulighed for custom plugins</li>
</ul>]]></productDescription>
        <productHeadline><![CDATA[Medium]]></productHeadline>
        <productPricePerMonth><![CDATA[2.000 DKK]]></productPricePerMonth>
        <productStyleClassName><![CDATA[Medium]]></productStyleClassName>
      </product>
      <product id="1063" key="50885473-4b2c-41bc-a8c6-9cc78dd92fd5" parentID="1060" level="3" creatorID="0" sortOrder="2" createDate="2019-07-03T21:27:30" updateDate="2019-07-07T20:38:14" nodeName="Large" urlName="large" path="-1,1054,1060,1063" isDoc="" nodeType="1057" creatorName="Peter Rosendahl" writerName="Peter Rosendahl" writerID="0" template="0" nodeTypeAlias="product" isPublished="true">
        <productDescription><![CDATA[<ul>
<li>Dashboard</li>
<li>Push</li>
<li>Ubegrænset antal brugere</li>
<li>Understøtter 1 sprog</li>
<li>Op til 3 content typer</li>
<li>1 GB data storage</li>
<li>1 GB data transfer</li>
<li>Email support</li>
<li>Mulighed for custom plugins</li>
<li>Telefon support</li>
</ul>]]></productDescription>
        <productHeadline><![CDATA[Large]]></productHeadline>
        <productPricePerMonth><![CDATA[5.000 DKK]]></productPricePerMonth>
        <productStyleClassName><![CDATA[Large]]></productStyleClassName>
      </product>
      <product id="1064" key="cde8c55c-1f31-4ee0-ac91-e8ac0fc0bd24" parentID="1060" level="3" creatorID="0" sortOrder="3" createDate="2019-07-03T21:27:51" updateDate="2019-07-07T22:17:58" nodeName="Enterprise" urlName="enterprise" path="-1,1054,1060,1064" isDoc="" nodeType="1057" creatorName="Peter Rosendahl" writerName="Peter Rosendahl" writerID="0" template="0" nodeTypeAlias="product" isPublished="true">
        <productDescription><![CDATA[<ul>
<li>Dashboard</li>
<li>Push</li>
<li>Ubegrænset antal brugere</li>
<li>Ubegrænset antal sprog</li>
<li>Ubegrænset content typer</li>
<li>Ubegrænset data storage</li>
<li>Ubegrænset data transfer</li>
<li>Email support</li>
<li>Mulighed for custom plugins</li>
<li>Telefon support</li>
</ul>]]></productDescription>
        <productHeadline><![CDATA[Enterprise]]></productHeadline>
        <productPricePerMonth><![CDATA[Fra 10.000 DKK]]></productPricePerMonth>
        <productStyleClassName><![CDATA[Enterprise]]></productStyleClassName>
      </product>
    </productList>
    <callToAction id="1082" key="082a0459-c825-47ed-ac23-b224f63f6d6e" parentID="1054" level="2" creatorID="0" sortOrder="1" createDate="2019-07-04T16:52:44" updateDate="2019-07-07T19:03:32" nodeName="Call to Action" urlName="call-to-action" path="-1,1054,1082" isDoc="" nodeType="1081" creatorName="Peter Rosendahl" writerName="Peter Rosendahl" writerID="0" template="0" nodeTypeAlias="callToAction" isPublished="true">
      <message><![CDATA[Advertising is telling the world how great you are, while publicity is having others tell the world how great you are. Companies and organizations that understand the importance of publicity are generally more successful than those who use advertising alone to reach their target audiences.]]></message>
      <target><![CDATA[umb://document/7c6220b79fee46eb84bb0fb0f605f14a]]></target>
      <linkText><![CDATA[Contact]]></linkText>
    </callToAction>
  </homePage>
</root>