<div class="successImage text-center">
    <img src="~/Media/1014/success_icon.png"/>
</div>
<p class="color_purple text-center">You have successfully signed up.</p>
<p class="color_purple text-center">Please check your E-mail and activate your account.</p>
<button type="button" class="buttonCloseModal" data-dismiss="modal">Close</button>