<div class="successImage text-center">
    <img src="~/Media/1014/success_icon.png" />
</div>
<p class="color_purple text-center">We have successfully sent you the instructions for resetting your password.</p>
<p class="color_purple text-center">Please check your E-mail.</p>
<button type="button" class="buttonCloseModal" data-dismiss="modal">Close</button>